In [1]:
import pandas as pd

In [2]:
csv_path = "Resources/budget_data.csv"

In [52]:
Budget_df = pd.read_csv(csv_path)
chrono_df = Budget_df.set_index("Revenue")

len(Budget_df)

41

In [43]:
chrono_df.head()

            Date
Revenue
 1154293  Oct-12
 885773   Nov-12
-448704   Dec-12
 563679   Jan-13
 555394   Feb-13

In [44]:

Budget_df[["Revenue"]].sum()
#print("Total Revenue: $" + Total_rev)

Revenue    18971412
dtype: int64

In [45]:

Budget_df[["Revenue"]].mean()

Revenue    462717.365854
dtype: float64

In [50]:
max_rev = Budget_df[["Revenue"]].max()
month_max = chrono_df.loc[max_rev, "Date"]
month_max

Revenue
1195111    Sep-15
Name: Date, dtype: object

In [51]:
min_rev = Budget_df[["Revenue"]].min()
month_min = chrono_df.loc[min_rev, "Date"]
month_min

Revenue
-1172384    Aug-14
Name: Date, dtype: object

In [ ]:
print("Financial Analysis"
"----------------------------"
"Total Months: ")