In [2]:
import pandas as pd

In [3]:
csv_path = "Resources/election_data.csv"

In [4]:
election_df = pd.read_csv(csv_path)
election_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [5]:
len(election_df)

3521001

In [6]:
election_df.Candidate.unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [8]:
election_df.count()

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64

In [10]:
candidate_counts = election_df["Candidate"].value_counts()
candidate_counts

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [11]:
E = election_df.groupby("Candidate").count()
E

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630